// Imports
@import '../../../vendor/sass-mq/mq';
@import '../../../vendor/frontend/app/assets/sass/variables/_standard.scss';
//@import '../../../vendor/hiof-layout/dist/layout';
//@import '../../../vendor/hiof-typography/dist/typography';
// -----------------------------------------------------------
// -----------------------------------------------------------
// Output

.grid{
  @import '../../../vendor/hiof-layout/dist/layout';
  @import '../../../vendor/hiof-typography/dist/typography';
}

.grid-item {
  padding: 0 !important;
  img{
    width: 100%;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
  }
  h1 {
    min-height: 60px;
    min-height: 6rem;
    font-size: 1.6rem;
    display: block;
    padding: 0 2rem;
  }
  a{
    display: block;
    color: #0f7ab6;
  }
  background: #eee;
  border: .1rem solid #eee;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
  &:hover{
    background: #fff;
  }
}

@include mq($until: small) {
  .grid-item {
    text-align: center;
    h1 {
      min-height: 0;
    }
  }
}

@include mq($from: small, $until: large) {
  .grid-item {
    text-align: center;
    h1 {
      min-height: 0;
    }
  }
}

@include mq($from: large) {}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dppx) {}
