// Imports
@import '../../../vendor/sass-mq/mq';
@import "../../../vendor/frontend/app/assets/sass/variables/_border-radius";
@import "../../../vendor/frontend/app/assets/sass/variables/_whitespace";
@import "../../../vendor/frontend/app/assets/sass/variables/_divider";
@import "../../../vendor/frontend/app/assets/sass/variables/_breakpoints";
//@import '../../../vendor/hiof-layout/dist/layout';
//@import '../../../vendor/hiof-typography/dist/typography';
// -----------------------------------------------------------
// -----------------------------------------------------------
// Output

.grid{
  @import '../../../vendor/hiof-layout/dist/layout';
  @import '../../../vendor/hiof-typography/dist/typography';
  .grid-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
}

.grid-item {
  padding: 0 !important;
  img{
    width: 100%;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
  }
  h1 {
    min-height: 90px;
    min-height: 9rem;
    font-size: 1.6rem;
    display: block;
    padding: 0 1rem;
    font-weight: bold;
    margin: 10px 0;
    margin: 1rem 0;
  }
  a{
    display: block;
    color: #0f7ab6;
    text-decoration: underline;
  }
  background: #eee;
  border: .1rem solid #eee;
  border-radius: .4rem;
  &:hover{
    background: #fff;
  }
}

@include mq($until: small) {
  .grid-item {
    text-align: center;
    h1 {
      min-height: 0;
    }
  }
}

@include mq($from: small, $until: large) {
  .grid-item {
    text-align: center;
    h1 {
      min-height: 0;
    }
  }
}

@include mq($from: large) {}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dppx) {}
